.container {
    width: 575px;
    height: 825px;
  
    background-color: #797978;
    padding-left: 30px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  .button{
    margin: auto;
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 10px;
    background-color: #212121;
    padding: 1px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: underline  red ;
    border: 2px solid #212121;
    box-shadow: 4px 4px 4px #252222;
    font-size: 20px;
    font-weight: bold;
    transition: 0.7s;
  }
  .button:hover {
    background-color: blue;
    border-color: black;
}

  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  