@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #3c0d43;
    color: rgb(207, 154, 62);
    font-size: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box{
    border: 1.5px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgba(159, 129, 191, 0.488);
}

.gameInfo {
    padding: 0 34px;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}