@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #3c0d43;
    color: rgb(207, 154, 62);
    font-size: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {

}